#resumeContainer{
    background: transparent;
    color: #fff;
    transition: color .2s ease-in;
    text-shadow: none;
    text-decoration-color: none;
}
#resumeLink {
    color: white;
    font-size: 18px;
    line-height: 54px;
    font-weight: 550;
}