nav {
font-size: 18px;
line-height: 34px;
font-weight: 550;
background: transparent;
color: #fff;
transition: color .2s ease-in;
text-shadow: none;
};

#navbar-nav{
    color: #fff;
    font-size: 14px;
};