body {
  margin: 0;
  padding: 0;
  height: 100%;
  /* box-sizing: border-box;  */
}

body:after{
  content:"";
  position:fixed;
  top:0;
  height:100vh; 
  left:0;
  right:0;
  z-index:-1; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} 

.backgroundImage {
  background: no-repeat center center fixed;
  -webkit-transform: translate3d(0,0,0);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:100%;
};


@media only screen and (min-width : 992px)  {background-attachment: fixed;} 
